<a href="https://colab.research.google.com/github/mualal/statistical-production-forecast/blob/master/notebooks/experiments.ipynb">    <img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Открыть и запустить в Google Colaboratory"></a>

In [1]:
# загрузка репозитория, если запуск в Google Colab
try:
    import google.colab, sys
    !git clone https://github.com/mualal/statistical-production-forecast.git
    sys.path.append('statistical-production-forecast')
    %cd statistical-production-forecast
except:
    import sys
    sys.path.append('..')

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# чтение данных из файла
df_initial = pd.read_excel(os.path.abspath(
    os.path.join(
        os.pardir,
        'data',
        'Западно-Чистинное-Ю1(2)-МЭР.xlsx'
    )), sheet_name='МЭР')

# заполнение пустых ячеек нулями
df_initial.fillna(0, inplace=True)
df_initial

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории)
0,10,2018-07-01,0.00,0.00,0.0,0,6635673,546222
1,10,2018-08-01,0.00,0.00,0.0,0,6635673,546222
2,10,2018-09-01,0.00,0.00,0.0,0,6635673,546222
3,10,2018-10-01,0.00,0.00,0.0,0,6635673,546222
4,10,2018-11-01,0.00,0.00,0.0,0,6635673,546222
...,...,...,...,...,...,...,...,...
1477,9,2021-05-01,197.59,608.68,743.0,Ю1(1),6637374,546191
1478,9,2021-06-01,234.82,663.81,719.0,Ю1(1),6637374,546191
1479,9,2021-07-01,290.16,660.16,743.0,Ю1(1),6637374,546191
1480,9,2021-08-01,239.45,538.77,743.0,Ю1(1),6637374,546191
1481,9,2021-09-01,0.00,0.00,0.0,Ю1(1),6637374,546191

In [4]:
# отсортированный массив уникальных значений дат
current_date = df_initial['Дата'].unique()
current_date.sort(axis=0)
current_date

array(['2018-07-01T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2019-11-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2021-04-01T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2021-08-01T00:00:00.000000000',
       '2021-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [5]:
# удаление нулевых строк
df_initial = df_initial[
    (df_initial['Добыча нефти за посл.месяц, т'] != 0) &
    (df_initial['Добыча жидкости за посл.месяц, т'] != 0) &
    (df_initial['Время работы в добыче, часы'] != 0) &
    (df_initial['Объекты работы'] != 0)
]
df_initial

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории)
5,10,2018-12-01,649.18,1290.18,312.0,Ю1(1),6635673,546222
6,10,2019-01-01,1792.89,2174.89,744.0,Ю1(1),6635673,546222
7,10,2019-02-01,1372.47,1564.47,528.0,Ю1(1),6635673,546222
8,10,2019-03-01,2816.75,3518.75,744.0,Ю1(1),6635673,546222
9,10,2019-04-01,2221.11,2608.11,696.0,Ю1(1),6635673,546222
...,...,...,...,...,...,...,...,...
1476,9,2021-04-01,187.51,566.64,720.0,Ю1(1),6637374,546191
1477,9,2021-05-01,197.59,608.68,743.0,Ю1(1),6637374,546191
1478,9,2021-06-01,234.82,663.81,719.0,Ю1(1),6637374,546191
1479,9,2021-07-01,290.16,660.16,743.0,Ю1(1),6637374,546191
1480,9,2021-08-01,239.45,538.77,743.0,Ю1(1),6637374,546191

In [6]:
# массив уникальных номеров скважин
unique_wells = df_initial['№ скважины'].unique()
unique_wells

array([10, 11, 12, 13, 21, '22В', 24, 25, 30, 31, 33, 35, 36, 37, 38, 39,
       40, 43, 9], dtype=object)

In [7]:
# фактически НИЧЕГО НЕ ДЕЛАЕТ (ясно, что все скважины есть в df_initial)
df_initial = df_initial[df_initial['№ скважины'].isin(unique_wells)]
df_initial

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории)
5,10,2018-12-01,649.18,1290.18,312.0,Ю1(1),6635673,546222
6,10,2019-01-01,1792.89,2174.89,744.0,Ю1(1),6635673,546222
7,10,2019-02-01,1372.47,1564.47,528.0,Ю1(1),6635673,546222
8,10,2019-03-01,2816.75,3518.75,744.0,Ю1(1),6635673,546222
9,10,2019-04-01,2221.11,2608.11,696.0,Ю1(1),6635673,546222
...,...,...,...,...,...,...,...,...
1476,9,2021-04-01,187.51,566.64,720.0,Ю1(1),6637374,546191
1477,9,2021-05-01,197.59,608.68,743.0,Ю1(1),6637374,546191
1478,9,2021-06-01,234.82,663.81,719.0,Ю1(1),6637374,546191
1479,9,2021-07-01,290.16,660.16,743.0,Ю1(1),6637374,546191
1480,9,2021-08-01,239.45,538.77,743.0,Ю1(1),6637374,546191

In [8]:
# сортировка сначала по номерам скважин, затем по датам
df_initial = df_initial.sort_values(['№ скважины', 'Дата'])
df_initial

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории)
1449,9,2019-01-01,817.17,2559.17,456.0,Ю1(1),6637374,546191
1450,9,2019-02-01,1442.18,1689.18,672.0,Ю1(1),6637374,546191
1451,9,2019-03-01,990.38,1287.38,744.0,Ю1(1),6637374,546191
1452,9,2019-04-01,666.01,944.01,696.0,Ю1(1),6637374,546191
1453,9,2019-05-01,473.24,579.24,456.0,Ю1(1),6637374,546191
...,...,...,...,...,...,...,...,...
306,22В,2021-04-01,571.54,733.41,720.0,"Ю1(1), Ю1(2)",6640634,542862
307,22В,2021-05-01,453.66,559.72,529.0,"Ю1(1), Ю1(2)",6640634,542862
308,22В,2021-06-01,546.50,707.29,639.0,"Ю1(1), Ю1(2)",6640634,542862
309,22В,2021-07-01,660.38,860.16,744.0,"Ю1(1), Ю1(2)",6640634,542862
310,22В,2021-08-01,526.16,676.48,632.0,"Ю1(1), Ю1(2)",6640634,542862

In [9]:
# что-то вроде максимально допустимого промежутка (в днях) между двумя строками измерений в таблице
max_delta = 365
# новый датафрейм
df_new = pd.DataFrame()

# напоминание: loc обращается к имеющемуся pandas индексу; iloc подобен обращению к элементу в массиве

for i in unique_wells:
    # слайс данных для рассматриваемой скважины
    slice = df_initial.loc[df_initial['№ скважины'] == i].copy()
    # пласт (или пласты), на которые работала скважина в последний месяц
    reservoir = slice['Объекты работы'].iloc[-1]
    # история работы только на этот пласт (или эти пласты)
    slice = slice[slice['Объекты работы'] == reservoir]
    # расчёт времени работы (в днях) до следующего измерения
    next_date = slice['Дата'].iloc[1:]
    last_date = slice['Дата'].iloc[-1]
    next_date.loc[-100] = last_date + pd.DateOffset(months=1)
    slice['След. дата'] = np.array(next_date)
    slice['Разница дат'] = slice['След. дата'] - slice['Дата']

    # если скважина работала меньше суток в последний месяц, то он удаляется
    if slice["Время работы в добыче, часы"].iloc[-1] < 24:
        slice = slice.iloc[:-1]
    
    # обрезка истории, если скважина была остановлена больше mаx_delta (или не проводились новые измерения)
    if not slice[slice['Разница дат'] > np.timedelta64(max_delta, 'D')].empty:
        last_index = slice[slice['Разница дат'] > np.timedelta64(max_delta, 'D')].index.to_list()[-1]
        slice = slice.loc[last_index + 1:]
    
    # конкатенация данных по ранее обработанным скважинам с данными по только что обработанной скважине
    df_new = pd.concat([df_new, slice], ignore_index=True)

    # в качестве эксперимента цикл только для одной скважины
    break
print(reservoir)
df_new

Ю1(1)

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории),След. дата,Разница дат
0,10,2018-12-01,649.18,1290.18,312.0,Ю1(1),6635673,546222,2019-01-01,31 days
1,10,2019-01-01,1792.89,2174.89,744.0,Ю1(1),6635673,546222,2019-02-01,31 days
2,10,2019-02-01,1372.47,1564.47,528.0,Ю1(1),6635673,546222,2019-03-01,28 days
3,10,2019-03-01,2816.75,3518.75,744.0,Ю1(1),6635673,546222,2019-04-01,31 days
4,10,2019-04-01,2221.11,2608.11,696.0,Ю1(1),6635673,546222,2019-05-01,30 days
5,10,2019-05-01,1619.77,1730.77,456.0,Ю1(1),6635673,546222,2019-06-01,31 days
6,10,2019-06-01,2604.46,2756.46,720.0,Ю1(1),6635673,546222,2019-07-01,30 days
7,10,2019-07-01,2576.30,2741.30,744.0,Ю1(1),6635673,546222,2019-08-01,31 days
8,10,2019-08-01,2627.45,2806.45,742.0,Ю1(1),6635673,546222,2019-09-01,31 days
9,10,2019-09-01,2476.97,2672.97,720.0,Ю1(1),6635673,546222,2019-10-01,30 days
10,10,2019-10-01,2339.65,2492.65,744.0,Ю1(1),6635673,546222,2019-11-01,31 days
11,10,2019-11-01,2287.68,2437.68,720.0,Ю1(1),6635673,546222,2019-12-01,30 days
12,10,2019-12-01,2377.43,2530.43,744.0,Ю1(1),6635673,546222,2020-01-01,31 days
13,10,2020-01-01,2253.14,2411.14,744.0,Ю1(1),6635673,546222,2020-02-01,31 days
14,10,2020-02-01,2106.34,2223.34,696.0,Ю1(1),6635673,546222,2020-03-01,29 days
15,10,2020-03-01,1855.49,2003.49,720.0,Ю1(1),6635673,546222,2020-04-01,31 days
16,10,2020-04-01,1729.26,1876.26,720.0,Ю1(1),6635673,546222,2020-05-01,30 days
17,10,2020-05-01,1532.16,1610.16,720.0,Ю1(1),6635673,546222,2020-06-01,31 days
18,10,2020-06-01,1465.04,1710.04,688.0,Ю1(1),6635673,546222,2020-07-01,30 days
19,10,2020-07-01,1493.22,1680.22,737.0,Ю1(1),6635673,546222,2020-08-01,31 days
20,10,2020-08-01,1650.19,1939.53,744.0,Ю1(1),6635673,546222,2020-09-01,31 days
21,10,2020-09-01,1590.89,1877.28,720.0,Ю1(1),6635673,546222,2020-10-01,30 days
22,10,2020-10-01,1069.82,1361.56,512.0,Ю1(1),6635673,546222,2020-11-01,31 days
23,10,2020-11-01,1532.21,1825.24,720.0,Ю1(1),6635673,546222,2020-12-01,30 days
24,10,2020-12-01,1570.02,1838.12,744.0,Ю1(1),6635673,546222,2021-01-01,31 days
25,10,2021-01-01,1561.70,1771.15,744.0,Ю1(1),6635673,546222,2021-02-01,31 days
26,10,2021-02-01,1387.57,1620.87,672.0,Ю1(1),6635673,546222,2021-03-01,28 days
27,10,2021-03-01,1271.74,1662.47,668.0,Ю1(1),6635673,546222,2021-04-01,31 days
28,10,2021-04-01,1451.66,1781.34,720.0,Ю1(1),6635673,546222,2021-05-01,30 days
29,10,2021-05-01,1350.62,1672.61,743.0,Ю1(1),6635673,546222,2021-06-01,31 days
30,10,2021-06-01,786.49,1009.28,402.0,Ю1(1),6635673,546222,2021-07-01,30 days
31,10,2021-07-01,1119.73,1489.62,623.0,Ю1(1),6635673,546222,2021-08-01,31 days
32,10,2021-08-01,1576.55,1938.31,744.0,Ю1(1),6635673,546222,2021-09-01,31 days

In [10]:
# удаление вспомогательных столбцов с разницей дат
df_new.drop(['Разница дат', 'След. дата'], axis=1, inplace=True)
df_new

,№ скважины,Дата,"Добыча нефти за посл.месяц, т","Добыча жидкости за посл.месяц, т","Время работы в добыче, часы",Объекты работы,Координата забоя Y (по траектории),Координата забоя Х (по траектории)
0,10,2018-12-01,649.18,1290.18,312.0,Ю1(1),6635673,546222
1,10,2019-01-01,1792.89,2174.89,744.0,Ю1(1),6635673,546222
2,10,2019-02-01,1372.47,1564.47,528.0,Ю1(1),6635673,546222
3,10,2019-03-01,2816.75,3518.75,744.0,Ю1(1),6635673,546222
4,10,2019-04-01,2221.11,2608.11,696.0,Ю1(1),6635673,546222
5,10,2019-05-01,1619.77,1730.77,456.0,Ю1(1),6635673,546222
6,10,2019-06-01,2604.46,2756.46,720.0,Ю1(1),6635673,546222
7,10,2019-07-01,2576.30,2741.30,744.0,Ю1(1),6635673,546222
8,10,2019-08-01,2627.45,2806.45,742.0,Ю1(1),6635673,546222
9,10,2019-09-01,2476.97,2672.97,720.0,Ю1(1),6635673,546222
10,10,2019-10-01,2339.65,2492.65,744.0,Ю1(1),6635673,546222
11,10,2019-11-01,2287.68,2437.68,720.0,Ю1(1),6635673,546222
12,10,2019-12-01,2377.43,2530.43,744.0,Ю1(1),6635673,546222
13,10,2020-01-01,2253.14,2411.14,744.0,Ю1(1),6635673,546222
14,10,2020-02-01,2106.34,2223.34,696.0,Ю1(1),6635673,546222
15,10,2020-03-01,1855.49,2003.49,720.0,Ю1(1),6635673,546222
16,10,2020-04-01,1729.26,1876.26,720.0,Ю1(1),6635673,546222
17,10,2020-05-01,1532.16,1610.16,720.0,Ю1(1),6635673,546222
18,10,2020-06-01,1465.04,1710.04,688.0,Ю1(1),6635673,546222
19,10,2020-07-01,1493.22,1680.22,737.0,Ю1(1),6635673,546222
20,10,2020-08-01,1650.19,1939.53,744.0,Ю1(1),6635673,546222
21,10,2020-09-01,1590.89,1877.28,720.0,Ю1(1),6635673,546222
22,10,2020-10-01,1069.82,1361.56,512.0,Ю1(1),6635673,546222
23,10,2020-11-01,1532.21,1825.24,720.0,Ю1(1),6635673,546222
24,10,2020-12-01,1570.02,1838.12,744.0,Ю1(1),6635673,546222
25,10,2021-01-01,1561.70,1771.15,744.0,Ю1(1),6635673,546222
26,10,2021-02-01,1387.57,1620.87,672.0,Ю1(1),6635673,546222
27,10,2021-03-01,1271.74,1662.47,668.0,Ю1(1),6635673,546222
28,10,2021-04-01,1451.66,1781.34,720.0,Ю1(1),6635673,546222
29,10,2021-05-01,1350.62,1672.61,743.0,Ю1(1),6635673,546222
30,10,2021-06-01,786.49,1009.28,402.0,Ю1(1),6635673,546222
31,10,2021-07-01,1119.73,1489.62,623.0,Ю1(1),6635673,546222
32,10,2021-08-01,1576.55,1938.31,744.0,Ю1(1),6635673,546222